@import url('https://fonts.googleapis.com/css?family=Lato:300,400,600');

body {
  color: #747474;
  font-family: 'lato', sans-serif;
  -webkit-font-smoothing: antialiased;
}

main {
  padding: 16px;
}

a {
  cursor: pointer;
  color: #fa8072;
  text-decoration: none;
  border: none;
}

.avatar {
  width: 48px;
  height: 48px;
  background: rgba(0,0,0,0.1);
  border: 2px solid rgba(0,0,0,0.1);
  border-radius: 50%;
}

.about {
  margin-top: 32px;
  font-size: 11px;
}

.left { float: left; }
.right { float: right; }
.center { text-align: center; }

.toolbar-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}
